[core]
	excludesfile = /Users/andrewrot/.gitignore_global
[user]
	name = Andrew Rot
	email = arotc7@gmail.com
[alias]
  st = status
  ci = commit
  p  = push
  fp = push -f
  co = checkout
  b = branch
  rc = rebase --continue
  rs = rebase --skip
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  m = mergetool
[merge]
  tool = opendiff
